body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img{
  
}

.photo-gallery{
  max-width: 50vw;
  max-height: 50vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  justify-content: center;
}

img{
  width: 100%;
  height: 100%;
}